.logo {
  background-image: url("../assets/logo.png");
  width: 100px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* height: 200px; */
  /* background-color: blue; */
}
